<p id="notice"><%= notice %></p>

<div class="container">
    <h1>HOME</h1>



<div class="row">

  <div class="col-md-6">
  <h2>YOUR OPEN CHATS</h2>
      <table>
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @chats.each do |chat| %>
            <tr>
              <td><%= link_to 'Show', chat %></td>
              <td><%= link_to 'Edit', edit_home_path(chat) %></td>
              <td><%= link_to 'Destroy', chat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>

  <div class="col-md-6">
    <h2>PEOPLE TO CHAT WITH</h2>

      <% @user.each do |user| %>
          <div class="row">
            <div class="col-md-3">
              <%=user.email%>
            </div>

            <div class="col-md-9">
              <button class="btn-danger"><%=link_to 'START A CHAT!!', new_chat_path%></button>
            </div>
          </div>
      <%end%>

  </div>
      <br>
</div>
    
</div>